<div class="jumbotron text-center" id="hero">
			<p><br></br><br></br></p>
			<h1> Describe yourself in 3 words: </h1>
			<%#  <%= image_tag "vitamins logo (salmon).png", :class=>"img-responsive brand-lg" %>
 			<p><br></br></p>

				<form><input type = "text" class="write-form"  autofocus></form>

			<p><br></br></p>
			<!-- <p>
			<%= link_to "Sign In", new_user_session_path, class: "btn btn-default btn-lg" %>
			 <%= link_to "Let's Start!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
			 </p> -->
	
</div>