<div class="jumbotron text-center">
			<h1> Welcome! </h1>
				#do something
			<%#  <%= image_tag "vitamins logo (salmon).png", :class=>"img-responsive brand-lg" %>
			<p></p><p></p>
			<p>
			<%= link_to "Sign In", new_user_session_path, class: "btn btn-default btn-lg" %>
			 <%= link_to "Let's Start!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
			 </p>

</div>