

<section>

	<article>
	
		<h1>About</h1>
		<p> We are working on our one month rails pinteresting app</p>

		<div class="bottom"> TESTING TESTING </div>

	</article>


<div>adfasdf
<p>
asdfasdf</div>
</section>

<script type="text/javascript">
	head.js( 
					
					"js/form.js",
		        
		        );
</script>