/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

* For Pinteresting app only transitions needed, but thought I'd include buncha Masonry styles

* require 'masonry/centered'
* require 'masonry/fluid'
* require 'masonry/gutters'
* require 'masonry/infinitescroll'
* require 'masonry/right-to-left'
*= require 'masonry/transitions'

 *= require_tree .
 */

 h3 { }

.courier {font-family: Courier;
			font-size: 48px}

.playfair { font-family: "Playfair";
			color: gray;
			font-size: 40px}
.sanchez { font-family: "Sanchez";
			color: #B0B0B0;
			font-size: 32px;
			margin-top:200px;}

.brand-lg {
	padding: 20px 20px 20px 20px;
}

.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#hero {
/*  background-image: url("texture.png")/*, url("paisaje_azul.jpg")*/;
*/  background-repeat: repeat;
  background-color: #FAF9F5;
  background-attachment:fixed;
  box-shadow: 10px 0px 25px gray;
	/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
/*	background-image: url("paisaje_azul.jpg");
*/	min-width:100%;
	min-height: 640px;}

.write-form {
	text-align: center;
border-width: 0 0 1px 0;
border-style: solid;
border-color: #dcdcdc;	display: block;
	color: #3B3B3B;
	resize: vertical;
	width: 100%;
	max-width: 800px;
	background: none;
	outline: none;
	font-family: Courier, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 64px;
	line-height: 1.0;
	padding: 3px;
/*	border: none;
*/	margin: auto;
/*	min-width: 900px;
*//*	min-height: 30px;
*/
}



body {
	margin-top: 50px;
}


