/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

* For Pinteresting app only transitions needed, but thought I'd include buncha Masonry styles

* require 'masonry/centered'
* require 'masonry/fluid'
* require 'masonry/gutters'
* require 'masonry/infinitescroll'
* require 'masonry/right-to-left'
*= require 'masonry/transitions'

 *= require_tree .
 */

.courier {font-family: Courier;
			}

.playfair { font-family: "Playfair";
			color: gray;
			font-size: 40px}
.sanchez { font-family: "Sanchez";
			color: #B0B0B0;
			font-size: 32px;}

.brand-lg {
	padding: 20px 20px 20px 20px;
}

.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#hero {
  background-color: #FAF9F5;
  background-attachment:fixed;
  box-shadow: 10px 0px 25px gray;
	min-width:100%;
	min-height: 640px;
	margin-top: -50px}

.write-form {
	
border-width: 0 0 1px 0;
border-style: solid;
border-color: #dcdcdc;	display: block;
	color: #3B3B3B;
	resize: vertical;
	width: 100%;
	max-width: 800px;
	background: none;
	outline: none;
	font-family: Courier, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 28px;
	line-height: 1.0;
	margin-top: 20px;

}



.body {
	padding-top: 50px;
}

.alignright {float: right;}

