/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

* For Pinteresting app only transitions needed, but thought I'd include buncha Masonry styles

* require 'masonry/centered'
* require 'masonry/fluid'
* require 'masonry/gutters'
* require 'masonry/infinitescroll'
* require 'masonry/right-to-left'
*= require 'masonry/transitions'

 *= require_tree .
 */

.courier {font-family: Courier;
			font-size: 48px}

.playfair { font-family: "Playfair";
			color: gray;
			font-size: 40px}
.sanchez { font-family: "Sanchez";
			color: #B0B0B0;
			font-size: 32px}

.brand-lg {
	padding: 20px 20px 20px 20px;
}

.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#hero {
  background-image: url("texture.png")/*, url("paisaje_azul.jpg")*/;
  background-repeat: repeat;
  background-color: #FAF9F5;
  background-attachment:fixed;
  box-shadow: 10px 0px 25px gray;
	/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
/*	background-image: url("paisaje_azul.jpg");
*/	min-width:100%;
	min-height: 480px;}

.write-form {
	text-align: center;
	border-bottom:3px solid #ffffff;
	display: block;
	color: #333333;
	resize: none;
	background: none;
	outline: none;
	font-family: Courier, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 64px;
	line-height: 35px;
	padding: 3px;
	border: none;
	margin: auto;
	width: 900px;
}

textarea {
	height: 200px;
}


/* Shadow Stuff */
.box h3{
	text-align:center;
	position:relative;
	top:80px;
}
.box {
	width:70%;
	height:200px;
	background:#FFF;
	margin:40px auto;
}

.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 5px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 5zpx #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

