$body-bg:  #ffffff;
// $navbar-default-bg: #34495e;
// $navbar-inverse-bg: #e74c3c;
$navbar-inverse-link-color: #FFFFFF;
$navbar-inverse-link-hover-color: #FAE0D7;
$brand-primary: #d35400;
$jumbotron-bg: #ecf0f1;

$font-family-sans-serif: 'Cabin';
@import 'bootstrap';

.navbar {
  	background: rgb(255,255,255);
    background: rgba(255,255,255,0.5);
  
}

body { padding-top: 50px; }