$body-bg:  #ffffff;
$navbar-default-bg: #34495e;
$navbar-inverse-bg: #e74c3c;
$navbar-inverse-link-color: #FFFFFF;
$navbar-inverse-link-hover-color: #FAE0D7;
$brand-primary: #d35400;
$jumbotron-bg: #ecf0f1;
@import 'bootstrap';
